h1,h2{
    color: #6296e9;
}

h3,h4,h5,h6 {
    color: black;
}

.nav-split {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

.nav-items {
    margin: 0 25px;
}

.grid-end {
    justify-self: end;
}

a {
    color: black;
}

a:hover {
    color: #71A7FF;
    text-decoration: none;
}

.btn-blue-muted {
    background-color: #71A7FF;
    color: white;
    border-radius: 15px;
    padding: 10px 12px;
    border: 0;
}

.btn-blue-muted:hover {
    background-color: #6296e9;
    color: white;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic3 {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.right-align {
    text-align: right;
}

.min-width-content {
    min-width: fit-content;
}

.center-align {
    text-align: center;
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid;
    padding: 20px; 
    width: 49%;
    height: 113px;
    display:inline-block;  
    line-height: 9px;
  }

.messages {
    border-radius: 25px;
    border: 2px solid;
    padding: 20px; 
    width: 30%;
    display:inline-block;  
    line-height: 9px;
}

  .box {
    border: 2px solid;
    padding: 20px; 
    width: 104%;
    height: 113px;
    display:inline-block;  
    line-height: 9px;
  }
  .box2 {
    border: 2px solid;
    padding: 20px; 
    width: 100%;
    height: 113px;
    display:inline-block;  
    line-height: 9px;
  }

  .bio {
    border-radius: 25px;
    border: 2px solid;
    padding: 20px; 
    width:100%;
    height: 587px;
    display:inline-block;  
  }

div {
    vertical-align: top
}
#hi, #bye {
    display: none;
}

#nav {
    display: block;
}

.show-hide {
    position:absolute;
    right:0;
    top:0
}

@media only screen and (max-width: 800px) {
    .nav-split, .dropdown-menu, #nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    i {
        margin: 1rem;
    }

    #hi {
        display: show;
    }

    #bye, #nav {
        display: none;
    }

    .btn-blue-muted, .profile-pic, .dropdown-item, .min-width-content {
        display: none;
        min-width: none;
    }
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid;
    padding: 20px; 
    width: 49%;
    height: 113px;
    display:inline-block;  
    line-height: 9px;
  }

.messages {
    border-radius: 25px;
    border: 2px solid;
    padding: 20px; 
    width: 30%;
    display:inline-block;  
    line-height: 9px;
}

  .box {
    border: 2px solid;
    padding: 20px; 
    width: 104%;
    height: 113px;
    display:inline-block;  
    line-height: 9px;
  }
  .box2 {
    border: 2px solid;
    padding: 20px; 
    width: 100%;
    height: 113px;
    display:inline-block;  
    line-height: 9px;
  }

  .bio {
    border-radius: 25px;
    border: 2px solid;
    padding: 20px; 
    width:100%;
    height: 587px;
    display:inline-block;  
  }

div {
    vertical-align: top
}
